@charset "UTF-8";
/* CSS Document */

/* COLORS */
/* Green - #034001 */
/* Brown - #6c3f21 */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;700&display=swap');

body {
	background-color: #fff;
}

header {
	background-color: #fff;
	width: 100%;
	padding: 12px 0;
}

#header-content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#header-content img {
	height: 120px;
}

nav {
	width: 730px;
	position: absolute;
	bottom: 8px;
	right: 0;
}

nav ul {
	display: block;
	text-align: right;
	list-style-type: none;
}

nav li {
	display: inline-block;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
	font-size: 20px;
	color: #034001;
	padding: 0 30px;
	text-align: left;
}

nav li:last-child {
	padding-right: 0;
}

nav a:link {
	text-decoration: none;
	color: #034001;
	padding: 10px 20px;
}

nav a:hover {
	color: #034001;
	padding: 10px 20px 5px;
    border-bottom: 6px solid #034001;
}

p {
	font-size: 16px;
	color: #000;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
	margin-bottom: 16px;
	line-height: 180%;
}

#banner {
	width: 100%;
	height: 525px;
	background: url("images/clear-lake-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
    text-align: center;
}
#banner h1 {
    font-size: 56px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    color: #fff;
}
#banner h4 {
    font-size: 26px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 15px 0 50px;
}

#banner a {
    background-color: #034001;
    padding: 15px 30px;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 700; 
    font-size: 20px;
    text-decoration: none; 
}

#explore {
    position: relative;
    top: 180px;
}

#wrapper-white {
	width: 960px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

#wrapper-about {
	width: 960px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 0;
    justify-content: space-between;
}

main {
	padding: 486px 20px 20px;
}

section {
	width: 580px;
    height: 340px;
	position: relative;
    text-align: center;
}

section img {
     opacity: 1;
     width: 100%;
     height: auto;
     transition: 1s ease;
}

section:hover img {
     opacity: .5;
}

section a {
    background-color: #034001;
    padding: 15px 30px;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 700; 
    font-size: 20px;
    text-decoration: none; 
    display: block;
}

section:hover .discover-content {
    transform: scale(1.25);
}

.discover-content {
	position: absolute;
	top: 45%;
	left: 20%;
	right: 20%;
	transition: .5 ease;
}


aside {
	width: 320px;
}


aside h1 {
	color: #034001;
	font-family: 'Jost', sans-serif;
    font-weight: 700;
	font-size: 30px;
	margin-bottom: 16px;
    text-transform: uppercase;
}

aside p {
	font-size: 18px;
	line-height: 150%;
	font-family: 'Jost', sans-serif;
    font-weight: 300;
	margin-top: 10px;
	margin-bottom: 0;
}

#wrapper-trails {
	width: 100%;
	padding: 60px 0;
	background-color: #f0ebe8/*#f4f3f0*/;
	overflow: hidden;
}

#wrapper-trails h2 {
    color: #034001;
    font-size: 32px;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

#trail-content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.trail-box {
	width: 300px;
	text-align: center;
	display: inline-block;
    vertical-align: top;
}

.trail-box:first-of-type {
	margin-right: 26px;
}

.trail-box:last-of-type {
	margin-left: 26px;
}

.trail-box h3 {
	color: #034001;
	font-family: 'Jost', sans-serif;
    font-weight: 700;
	font-size: 28px;
	margin: 18px 0 12px;
}

.trail-box p {
	font-size: 16px;
	margin-bottom: 24px;
}


footer {
	padding: 40px 0 10px;
	width: 100%;
	font-size: 12px;
	background-color: #034001;

}

footer h3 {
	font-family: 'Jost', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
    margin-bottom: 15px;
}

footer p {
	font-family: 'Jost', sans-serif;
    font-weight: 300;
	color: #fff;
}

#footer-content {
	width: 960px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#footer-left {
	width: 30%;
}

#footer-left a {
    color: #fff;
}

#footer-center {
    width: 30%;
}

#footer-center img {
    height: 50px;
    margin-right: 15px;
}

#footer-right {
	width: 30%;
	text-align: right;
}

#footer-right img {
    height: 50px;
    margin-left: 20px;
}


#wrapper-about h1 {
	color: #034001;
	font-family: 'Jost', sans-serif;
    font-weight: 700;
	font-size: 30px;
	margin-bottom: 16px;
	text-transform: uppercase;
	text-align: center;
}

#wrapper-about p {
	font-family: 'Jost', sans-serif;
    font-weight: 300;
	font-size: 22px;
	line-height: 150%;
	margin-top: 10px;
	margin-bottom: 0;
}

#spirit-content {
	width: 960px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#spirit-content img {
	padding: 5px;
}

/* --------- SLIDESHOW --------- */

#slideshow-wrapper {
	width: 100%;
	height: 525px;
}

#slideshow {
	width: 100%;
	height: 525px;
	overflow: hidden;
	white-space: nowrap;
}

.rectangle {
	display: inline-block;
	background-color: #f0ebe8;
	width: 26px;
	height: 5px;
	margin: 15px;
}

#rectangle-nav {
	margin-top: -50px;
	text-align: center;
}